body {
    background-color: pink;
}

p {
    font-size: 20px;
}

h2 {
    color: violet;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px;
  }
  
  table, th, td {
    border: 2px solid black;
    border-radius: 15px;
    
  }
  
  th, td {
    padding: 12px;
    text-align: center;
  }

  #sec1 h2 {
    font-size: 19px;
    color: blue;
  }

  #sec1 p {
    font-size: 22px;
  }
  
  #sec2 h2 {
    font-size: 25px;
    color: blueviolet;
  }

  #sec2 a {
    color: red;
  }

  #sec2 a:hover {
    color: black;
  }

 