  /* Universal Styling */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header Styling */
  header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }

  header nav {
    background-color: #4CAF50;
    color: white;
    position: sticky;
    text-align: left;
    display: flexbox;
  }

  header nav a {
    color: white;
    text-decoration: none;
    font-family: 'Calibri';
    font-style: italic;
    margin: 10px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 5px;
  }
  
  /* Profile Section Styling */
  #profile {
    text-align: center;
    margin: 20px;
  }
  
  #profile img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  #profile p {
    font-size: 18px;
    color: #333;
  }
  
  /* Links Section Styling */
  #links {
    margin: 20px;
    text-align: center;
  }
  
  #links ul {
    list-style-type: none;
  }
  
  #links a {
    text-decoration: none;
    color: #4CAF50;
  }
  
  #links a:hover {
    color: #FF5722;
  }
  
  /* Footer Styling */
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #777;
  }
  
  